@import url(https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap);
body {
  margin: 0;
  // padding: 0;
}

hr {
  margin-bottom: 3rem;
}

h5 {
  margin-bottom: 1.25rem;
}

article {
  max-width: 600px;
  margin: auto;
  text-align: justify;

  section {
    margin-bottom: 3rem;

    a {
      color: #444;
      // text-decoration: none;
    }
  }

  li {
    color: #444;
    font-size: .875rem;
    margin-bottom: .75rem;
  }

  p {
    font-size: .875rem;
    color: #444;

    a {
      // text-decoration: none;
      // color: #000;
    }
  }
}

.container-fluid {
  // margin: auto;
  max-width: 1000px;
  min-width: min-content;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h1 {
    position: relative;
    color: #444;
    min-width: max-content;
    padding: 0.5rem;
    font-size: 3rem;
    margin: 2rem 0;
    // font-family: 'Architects Daughter', cursive;
    // font-family: 'Permanent Marker', cursive;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
    // font-family: 'Architects Daughter', cursive;

    span {
      margin: 0; 
      font-family: 'Architects Daughter', cursive;
      font-weight: normal;
      position: absolute;
      font-size: 0.75rem;
      bottom: 0;
    };
  }

  ul {
    display: flex;
    align-items: center;
    margin: 0;

    font-family: 'Cabin Sketch', cursive;

    li {
      display: inline-block;
      margin-right: 1rem;
    }

    li:last-of-type {
      margin-right: 0;
    }

    li a {
      color: #444;
      text-decoration: none;
    }

    span {
      // font-family: 'Architects Daughter', cursive;
      font-family: 'Cabin Sketch', cursive;
      font-size: 3rem;
      // position: relative;
      font-weight: 400;
    }

    span:last-of-type {
      // position: relative;
      // align-self: flex-end;
      font-size: .75rem;
      bottom: 0;
      padding-top: 1rem;
      // padding-left: .125rem;
      font-family: 'Architects Daughter', cursive;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 900px) {
  #header {
    flex-direction: column;
    align-items: center;
  }
}

// CSS for CS50.html
table {
  color: #444;
  font-size: .875rem;
  width: 100%;
  text-align: left;

  a {
    color: #333;
  }

  th, td {
    border: 1px solid #ddd;
    padding: .5rem
  }

  th {
    text-align: center;
  }
}